{% extends 'layouts/base.html' %}

{% block title %}Post - All{% endblock %}

{% block content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <table class="table">
  
            <thead>
              <tr>
                {% if user.is_authenticated %}<th scope="col">Id</th>{% endif %}
                <th scope="col">Title</th>
                {% if user.is_authenticated %}<th scope="col">Opstions</th>{% endif %}
              </tr>
            </thead>
  
            <tbody>
              {% for post in posts %}
              <tr>
                
                {% if user.is_authenticated %}
                <th scope="row">{{ post.id }}</th>
                {% endif %}

                <td>
                  <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'posts_show' post.id %}">
                    {{ post.title }}
                  </a>
                </td>

                {% if user.is_authenticated %}
                <td>
                    <a href="{% url 'posts_edit' post.id %}" class="btn btn-success btn-sm">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#post-{{ post.id }}">
                      Delete
                    </button>
                </td>
                {% endif %}

              </tr>

              <div class="modal fade" id="post-{{ post.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">{{ post.title }}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this post?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'posts_delete' post.id %}" class="btn btn-primary">Delete post</a>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
            </tbody>
  
        </table>
      </div>
    </div>
  </section>
{% endblock %}