{% extends 'layouts/base.html' %}

{% block content %}
  <section class="container">
      <table class="table">

          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            {% for post in posts %}
            <tr>
              <th scope="row">{{ post.id }}</th>
              <td>{{ post.title }}</td>
              <td>
                  <button type="button" class="btn btn-success btn-sm">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>

      </table>
  </section>
{% endblock %}