{% extends 'layouts/base.html' %}

{% block title %}Post - All{% endblock %}

{% block content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <table class="table">
  
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Opstions</th>
              </tr>
            </thead>
  
            <tbody>
              {% for post in posts %}
              <tr>
                <th scope="row">{{ post.id }}</th>
                <td>
                  <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'posts_show' post.id %}">
                    {{ post.title }}
                  </a>
                </td>
                <td>
                    <a href="#" class="btn btn-success btn-sm">Edit</a>
                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
  
        </table>
      </div>
    </div>
  </section>
{% endblock %}